body {
  background-color: #f6c2ca;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.explore {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #ffcccc, #ccffcc, #ccccff);
}

h1 {
  color: #3498db;
}

.input-container {
  margin-top: 100px;
}

.input-box {
  padding: 10px;
  margin: 5px;
  border: 1px solid #3498db;
  border-radius: 5px;
}

.generate-button {
  padding: 10px;
  margin-top: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #2980b9;
}

